{% extends 'base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid" style="background-image: url({{ url_for ('static', filename='background.jpg') }});" >
  <div class="container aligned-center">
    <h1 class="display-4" style="color:black; font-family: sans-serif;">Get perfect Reccommendation through your Community</h1>
   

            <div class="row aligned-center" id="landing-space">
              

              <div class="col-sm-4">
                <div class="card h-80 shadow-sm"><img src="{{ url_for ('static', filename='all.jpg') }}" class="card-img-top" alt="...">
                <div class="thumbnail">
                  <div class="caption">
                    
                    <h3 class="aligned-center display-6" style="color:Black;">Movies</h3>
                    <p class="aligned-center"><a href="/movies" class="btn btn-outline-dark"><i class="fa fa-angle-double-right fa-2x"></i></a></p>
                  </div>
                </div>
              </div>
              </div>

                <div class="col-sm-4">
                  <div class="card h-80 shadow-sm"><img src="{{ url_for ('static', filename='community.png') }}" class="card-img-top" alt="...">
                <div class="thumbnail">
                  <div class="caption">
                    
                    <h3 class="aligned-center display-6" style="color:Black;">Communities</h3>
                    <p class="aligned-center"><a href="/communities" class="btn btn-outline-dark" ><i class="fa fa-angle-double-right fa-2x"></i></a></p>
                  </div>
                </div>
                  </div>
              </div>
              <div class="col-sm-4">
                <div class="card h-80 shadow-sm"><img src="{{ url_for ('static', filename='users.png') }}" class="card-img-top" alt="...">
                <div class="thumbnail">
                  <div class="caption">
                    
                    {% if session.get('user_id') != None %}
                    <h3 class="aligned-center display-6" style="color:Black;">Account</h3>
                    <p class="aligned-center"><a href="/users/{{session['user_id']}}" class="btn btn-outline-dark" ><i class="fa fa-angle-double-right fa-2x"></i></a></p>
                    {% else %}
                    <h3 class="aligned-center display-6" style="color:Black;">Users</h3>
                    <p class="aligned-center"><a href="/users" class="btn btn-outline-dark" ><i class="fa fa-angle-double-right fa-2x"></i></a></p>
                    {% endif %}
                  </div>
                </div>
              </div>
             </div> 

           </div>


           <div class="aligned-center spacious">

            <div class="card h-80 shadow-sm">
                <div class="thumbnail">
                  <div class="caption">
                    
                    <h3 class="aligned-center display-8" style="color:Black;">Watch Your Reccommendation</h3>
                    <p class="aligned-center"><a href="#rec" class="btn btn-outline-dark" ><i class="fa fa-angle-double-down fa-2x"></i></a></p>
                  </div>
                </div>
                  </div>
               
           </div>
           
    </div>


</div>


<div class="main" id="rec">
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="{{ url_for ('static', filename='movies.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start price-hp">Comedy,Thriller</span> </div>
                        <h3 class="card-title">Parasite</h3>
                        <p>The struggling Kim family sees an opportunity when the son starts working for the wealthy Park family.</p>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check on IMDb</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="{{ url_for ('static', filename='movies.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start price-hp">Comedy,Thriller</span> </div>
                        <h3 class="card-title">Parasite</h3>
                        <p>The struggling Kim family sees an opportunity when the son starts working for the wealthy Park family.</p>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check on IMDb</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="{{ url_for ('static', filename='movies.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start price-hp">Comedy,Thriller</span> </div>
                        <h3 class="card-title">Parasite</h3>
                        <p>The struggling Kim family sees an opportunity when the son starts working for the wealthy Park family.</p>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check on IMDb</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="{{ url_for ('static', filename='movies.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start price-hp">Comedy,Thriller</span> </div>
                        <h3 class="card-title">Parasite</h3>
                        <p>The struggling Kim family sees an opportunity when the son starts working for the wealthy Park family.</p>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check on IMDb</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="{{ url_for ('static', filename='movies.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start price-hp">Comedy,Thriller</span> </div>
                        <h3 class="card-title">Parasite</h3>
                        <p>The struggling Kim family sees an opportunity when the son starts working for the wealthy Park family.</p>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check on IMDb</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="{{ url_for ('static', filename='movies.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start price-hp">Comedy,Thriller</span> </div>
                        <h3 class="card-title">Parasite</h3>
                        <p>The struggling Kim family sees an opportunity when the son starts working for the wealthy Park family.</p>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check on IMDb</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="{{ url_for ('static', filename='movies.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start price-hp">Comedy,Thriller</span> </div>
                        <h3 class="card-title">Parasite</h3>
                        <p>The struggling Kim family sees an opportunity when the son starts working for the wealthy Park family.</p>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check on IMDb</a> </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



{% endblock %}