{% extends 'base.html' %}
{% block content %}

<div class="card card-image" style="background-image: url( {{ url_for ('static', filename='back.jpg') }})">
    
      <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">

          <!-- Content -->
          <h5 class="h5 orange-text"><i class="fa fa-camera-retro"></i> Ratings</h5>
          <h2 class="card-title h2 my-4 py-2">{{movie.title}}</h2>


            {% if movie.released_at %}
                <p class="mb-4 pb-2 px-md-5 mx-md-5">Release Date: {{movie.released_at}}</p>
            {% endif %}

            

            {% if "user_id" in session %}
                    <p class="mb-4 pb-2 px-md-5 mx-md-5">Average rating: {{ average }}</p>
                    {% if prediction %}
                        <p class="mb-4 pb-2 px-md-5 mx-md-5">We predict you will rate this movie {{ prediction }}.</p>
                    {% endif %}
                    {% for rating in movie.ratings %}
                        {% if session["user_id"] == rating.user_id %}
                            <h2>Your rating is: {{ rating.score }} </h2>
                        {% endif %}
                    {% endfor %}
                <form action="/movies/{{ movie.movie_id }}" method="POST">
                    <label id="movie-rating">Rate this movie: </label>
                    <input name="movie-rating" type="number">
                    <input type="submit" value="Rate">
                </form>
            {% endif %}

          
          {% if movie.imdb_url %}
        
                <a href="{{ movie.imdb_url}}" class="btn peach-gradient" style="color: white;"><i class="fa fa-clone left"></i>IMDB</a>
            {% endif %}

        </div>
      




    

    {% if movie.ratings %}
        

        <ul class="list-group">

        <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Ratings</th>
                  
                </tr>
              </thead>
              
            <tbody>


                {% for rating in movie.ratings %}

                    <tr>
                          <th scope="row">{{ rating.user_id}}</th>
                          <td>User-{{ rating.user_id}}</td>
                          <td>
                                {% for x in range(rating.score) %}
                                <span class="fa fa-star" style="color: orange;"></span>
                                {% endfor %}

                                {% for x in range(5-rating.score) %}
                                <span class="fa fa-star "></span>
                                {% endfor %}

                            </td>
                          
                    </tr>

                {% endfor %}

            </tbody>
           </table>

        

        </ul>

  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    {% endif %}

    </div>
</div>

{% endblock %}